@import "../../assets/sass/variables.scss";

.contenedor_main {
    width: $sizetypeall9+$sizetypeall10+$sizetypeall6+$sizetypeall3;
    height: $sizetypeall8+$sizetypeall6+$sizetypeall3;
    margin: $sizetypeall2 $sizetypeall2 $sizetypeall6;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-colorApp;
    box-shadow: $margin1 $sizetypeall0 $sizetypeall2+$sizetypeall0 $sizetypeall $color1;
    border-radius: $sizetypeall2;

    .imagen_testimonio {
        border-radius: $sizetypeall2;
        height: $percentage;
    }

    .contenedor_texto {
        text-align: center;
        padding: $sizetypeall5;
        font-family: lato, sans-serif;
        font-weight: $fontweight;
        line-height: $sizemedium1;
        color: black;

        .nombre {
            font-size: $sizemedium;
        }

        .cargo {
            font-size: $sizemedium;
            margin-top: $sizetypeall2+$sizetypeall1;
            padding-bottom: $sizetypeall4;
        }

        .testimonio {
            font-size: $sizelittle;
            text-align: justify;
        }
    }
}

/*Movile*/
@media only screen and (max-width: 768px) {
    .contenedor_main {
        width: 90vw;
        height: $percentage;
        flex-direction: column;

        img {
            width: $percentage;
            height: 50%;
        }


        .contenedor_texto {
            width: 80vw;
            height: 50%;

            .nombre {
                font-size: $sizetypeall3;
            }

            .cargo {
                font-size: $sizetypeall3;
            }

            .testimonio {
                font-size: $sizetypeall3;
                text-align: center;
                margin: $sizetypeall2+$sizetypeall1;
            }
        }
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .contenedor_main {
        width: 90vw;
        height: $percentage;
        display: flex;

        .imagen_testimonio {
            width: $percentage;
        }


        .contenedor_texto {
            width: 90vw;
            height: 50%;

            .nombre {
                font-size: $sizetypeall3;
            }

            .cargo {
                font-size: $sizetypeall3;
            }

            .testimonio {
                font-size: $sizetypeall3;
                text-align: justify;
            }
        }
    }
}