$fontsize18:18px;
$vh100: 100vh;
$margin1: 0;
$padding1: 0;
$background-colorApp: #9E9E9E;
$color1: black;
$max-widthApp: 940px;
$fontsize25: 2.5em;
$fontweightApp: 700;
$lineheightApp: 1.1;
$margin2: 40px 0;
$minheightApp: 600px;
////
$sizelittle: 1.1rem;
$sizemedium: 1.3rem;
$sizemedium1: 1.5rem;
$sizetypeall: 1px;
$sizetypeall0: 3px;
$sizetypeall1: 5px;
$sizetypeall2: 10px;
$sizetypeall3: 20px;
$sizetypeall4: 30px;
$sizetypeall5: 40px;
$sizetypeall6: 50px;
$sizetypeall7: 100px;
$sizetypeall8: 300px;
$sizetypeall9: 900px;
$sizetypeall10: 200px;
$fontweight: 400;
$percentage: 100%;
:export{
    fontsize18: $fontsize18;
    vh100: $vh100;
    margin1: $margin1;
    padding1: $padding1;
    background-colorApp: $background-colorApp;
    color1: $color1;
    max-widthApp: $max-widthApp;
    fontsize25: $fontsize25;
    fontweightApp: $fontweightApp;
    lineheightApp: $lineheightApp;
    margin2: $margin2;
    minheightApp: $minheightApp;
    sizelittle: $sizelittle;
    sizemedium: $sizemedium;
    sizemedium1: $sizemedium1;
    sizetypeall: $sizetypeall;
    sizetypeall0: $sizetypeall0;
    sizetypeall1: $sizetypeall1;
    sizetypeall2: $sizetypeall2;
    sizetypeall3: $sizetypeall3;
    sizetypeall4: $sizetypeall4;
    sizetypeall5: $sizetypeall5;
    sizetypeall6: $sizetypeall6;
    sizetypeall7: $sizetypeall7;
    sizetypeall8: $sizetypeall8;
    sizetypeall9: $sizetypeall9;
    sizetypeall10: $sizetypeall10;
    fontweight: $fontweight;
    percentage: $percentage;
}
